
::-webkit-scrollbar{
    display: none;
}

#visual {
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    /* position: absolute; */
    top: 0;
    overflow: hidden;
}

#visual img{
    width: 100%;
}


/* swiper css 수정하기 */
.swiper {height: 100%;}

.swiper-pagination-bullet{
    background: white !important;

}

.swiper-button-next::after {
    color: white !important;
}

.swiper-button-prev::after {
    color: white !important;
}


@media screen and (max-width:768px){
    #visual{
      height: 50%;
    }
  }