*{margin: 0 ; padding: 0;}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.App{
  text-align: center;

}

/* 헤더 css입니당~~ */
#header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: black;
}

#header img{
  width: 200px;
  height: 100px;
}

#header nav ul{
  display: flex;
  justify-content: space-between;
  height: 30px;
}

/* footer */

#footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position: absolute; */
  /* z-index: 10;
  bottom: 5%;
  left: 15%; */
}

#footer h2{width: 100%; text-align: left;}
#footer img{
  width: 150px;
}


#footer ul{
  display: flex;
  justify-content: space-between;
  width: 30%;
}
