*{margin: 0 ; padding: 0;}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}

.App{
  text-align: center;

}

/* 헤더 css입니당~~ */
#header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: black;
}

#header img{
  width: 200px;
  height: 100px;
}

#header nav ul{
  display: flex;
  justify-content: space-between;
  height: 30px;
}
/* 세션있을시 실행되는 아이들 */
#header span{
  position: absolute;
  right:11%;
  top:15%;
  font-size: 18px;
}
#header button{
  position: absolute;
  right:0%;
  top : 3%;
  width: 100px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 10px;
  color: black;
  background: #fff;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;
}
#header button:hover{
  background-color: #ccc;
    border-color: #ccc;
    color: #fff;
}

/* footer */

#footer {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position: absolute; */
  /* z-index: 10;
  bottom: 5%;
  left: 15%; */
  font-size: 14px;
  vertical-align: bottom;
}
#footer p {
  font-size: 14px;
  font-weight: normal;
}

#footer h2{
  width: 100%;
  text-align: left;
}
#footer img{
  width: 150px;
}
#explanation {
  font-size: 12px;
}
#explanation li {
  padding-right: 10px;
}
#icon {
  max-width: 150px;
}
#icon_text {
  font-weight: bold;
  margin: 15px 0 5px;
  text-align: left;
  padding-left: 8px;
}
#icon .icons {
  display: flex;
}
#icon .icons div {
  margin:  0 auto;
}

/* 마우스 드래그시 색상 변경 */

.App *::selection {
  background: #6667AB;
  color: #fff;
}

/* 마우스 커서 */
* {
  cursor: none;
}
.cursor-dot, .cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 50;
}
.cursor-dot {
  width: 18px;
  height: 18px;
  background-color: #6667AB;
}
.cursor-dot-outline {
  width: 30px;
  height: 30px;
  background-color: #7778ad7e;
}