*{margin: 0 ; padding: 0;}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}

.App{
  text-align: center;

}

/* 헤더 css입니당~~ */
#header{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  color: black;
}

#header img{
  width: 200px;
  height: 100px;
}

#header nav ul{
  display: flex;
  justify-content: space-between;
  height: 30px;
}

/* footer */

#footer {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position: absolute; */
  /* z-index: 10;
  bottom: 5%;
  left: 15%; */
  font-size: 14px;
  vertical-align: bottom;
}

#footer h2{
  width: 100%;
  text-align: left;
}
#footer img{
  width: 150px;
}
#explanation {
  font-size: 12px;
}
#explanation li {
  padding-right: 10px;
}
#icon {
  max-width: 150px;
}
#icon_text {
  font-weight: bold;
  margin: 15px 0 5px;
  text-align: left;
  padding-left: 8px;
}
#icon .icons {
  display: flex;
}
#icon .icons div {
  margin:  0 auto;
}

/* 마우스 커서 */
body {
  /* 커서 안보이게 숨기기 */
  /* cursor: none; */
}
#cursor {
  width: 10px;
  height: 10px;
  border: 2px solid #6667AB;
  border-radius: 50%;
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.3s;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
}
#cursor-grow {
  transform: scale(2);
  background-color: blueviolet;
}
